* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.contenedor {
    width: 800px;
    height: 600px;
    background-color: transparent;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header {
    width: 96%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.elemento {
    height: 60%;
    width: 85%;
    color: white;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    font-size: 50px;
    text-shadow: 
        -1px -1px 0 black, 
        1px -1px 0 black,  
        -1px 1px 0 black,  
        1px 1px 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagenlogo {
    width: 80px;
    height: 70px;
    margin-left: 20px;
    border-radius: 10px;
}

body {
    background-image: url('../images/best-food-background-ydy5u31lnrmww1pk.jpg');
    background-size: cover;
    background-position: center;
}

.contenido {
    background-color: transparent;
    height: 67%;
    width: 98%;
    border-radius: 10px;
    margin-top: 8px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aviso {
    text-align: center;
    color: white;
    width: 80%;
    margin: 0 auto 15px auto;
    text-shadow: 
        -1px -1px 0 black, 
        1px -1px 0 black,  
        -1px 1px 0 black,  
        1px 1px 0 black;
}

.aviso {
    font-size: 20px;
}
/* CAMPOS DEL FORMULARIO AJUSTADOS */
.form-control {
    width: 500px;
    font-size: 20px;
    border: 1px solid rgb(159, 219, 182);
    border-radius: 10px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 6px;
    margin: 2px;
    display: block;
    height: 18px;
}
h5{
    color: white;
        text-shadow: 
        -1px -1px 0 black, 
        1px -1px 0 black,  
        -1px 1px 0 black,  
        1px 1px 0 black;
}
.footer {
    height: 13%;
    width: 98%;
    background-color: transparent;
    border-radius: 1em;
    margin-top: 14px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.botonesfooter {
    width: 250px;
    height: 60px;
    font-size: 25px;
    color: green;
    background-color: white;
    border-radius: 15px;
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.iconosbotones1 {
    width: 20px;
    height: 20px;
    color: green;
    margin-left: 15px;
    transition: all 0.3s ease;
}

.botonesfooter:hover {
    background-color: green;
    color: white;
}

.botonesfooter:hover .iconosbotones1 {
    color: white;
}